.Application {
    background-color: rebeccapurple;
    min-height: 765px;
}

.Application__header {
    display: flex;
    justify-content: center;
}

p {
    font-size: 30px;
    margin-left: 30px;
}